/* your code */
table {
  /* font-family: arial, sans-serif; */
  border-radius: 10px;
  /* width: 100%; */
}

th {
  background: #0086b3;
  /* text-align: left; */
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}